body{
  background-color: #000;
  width: 1300px;
  margin: 0 auto;
}
header {
  background-color: green;
}
form {
  background-color: yellow;
}
.wrapper {
  background-color: #fff;
  overflow: auto;
  width: 1150px;
  margin: 0 auto;
  position: relative;
}
.col-1 {
  width: 150px;
  float: left;
  margin-right: 25px;
}
.col-2 {
  float: left;
  width: 650px;
}
.col-3 {
  float: right;
  width: 150px;
  margin-left: 25px;
}
.middle.banner {
  padding: 17px 0;
}
.adobe.hidden {
  background-color: blue;
  color: white;
  width: 1150px;
  margin: 0 auto;
  height: 1000px;
  position: absolute;
  top: 0;
  display: none;
}