body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  /*padding: 50px;*/
}

button.et-rotate {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.et-wrapper {
  height: 600px;
  float: left;
  margin: 15px;
}

.et-page {
  padding: 8px;
}
.et-page:nth-child(1) {
  background: #0ac2d2;
}

.et-page:nth-child(2) {
  background: #f68dbb;
}

.et-page:nth-child(3) {
  background: #60d7a9;
}

.et-page:nth-child(4) {
  background: #fdc162;
}

.et-page:nth-child(5) {
  background: #fd6a62;
}
.code-demos .et-wrapper{
  margin: 0px;
}

.et-page button.et-rotate {
  position: relative;
  margin-top: 40px;
  margin-left: 10px;
}

.video img {
position: absolute;
z-index: 99999;
margin: auto;
display: block;
height: 150px;
top: 0; left: 0; bottom: 0; right: 0;
}